<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIDI_File_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MIDI_File_Creator.Properties.Settings>
            <setting name="TrackCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimeDivision" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="SysExNone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SysExGM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysExRoland" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysExYamaha" serializeAs="String">
                <value>False</value>
            </setting>
        </MIDI_File_Creator.Properties.Settings>
    </userSettings>
</configuration>